<h3> Load package

In [1]:
import pandas as pd

<h3> Import the data

In [ ]:
dailypricedata = pd.read_csv('DailyPricesTechCompanies.csv') #used the data that hose pulled from alpha vantage
dailypricedata #verification

<h3> Data cleaning

In [8]:
# Convert 'date' column to datetime
dailypricedata['date'] = pd.to_datetime(dailypricedata['date'])

In [10]:
# Rename columns and convert data types if necessary
dailypricedata.rename(columns={
    '1. open': 'Open',
    '2. high': 'High',
    '3. low': 'Low',
    '4. close': 'Close',
    '5. volume': 'Volume',
    'date': 'Date'
}, inplace=True)

In [11]:
# Convert numerical columns to numeric types
numeric_cols = ['Open', 'High', 'Low', 'Close','Volume']
dailypricedata[numeric_cols] = dailypricedata[numeric_cols].apply(pd.to_numeric)

#use the code bellow if you get an error in the preceding cell
#apple_stock = apple_stock.drop(columns=['level_0', 'index'])

<h3> Verify if all went right

In [12]:
dailypricedata.head()

         Date    Open    High       Low   Close    Volume TickerName
0  2023-10-06  124.16  128.45  124.1300  127.96  46836698       AMZN
1  2023-10-05  126.71  126.73  124.3300  125.96  39660643       AMZN
2  2023-10-04  126.06  127.36  125.6800  127.00  44203870       AMZN
3  2023-10-03  128.06  128.52  124.2544  124.72  51564991       AMZN
4  2023-10-02  127.28  130.47  126.5400  129.46  48029744       AMZN