<h3> Load package

In [4]:
import pandas as pd

<h3> Import the data

In [7]:
dailypricedata = pd.read_csv('DailyPricesTechCompanies.csv') #used the data that hose pulled from alpha vantage
dailypricedata #verification

             date  1. open  2. high    3. low  4. close  5. volume TickerName
0      2023-10-06   124.16   128.45  124.1300    127.96   46836698       AMZN
1      2023-10-05   126.71   126.73  124.3300    125.96   39660643       AMZN
2      2023-10-04   126.06   127.36  125.6800    127.00   44203870       AMZN
3      2023-10-03   128.06   128.52  124.2544    124.72   51564991       AMZN
4      2023-10-02   127.28   130.47  126.5400    129.46   48029744       AMZN
...           ...      ...      ...       ...       ...        ...        ...
28900  1999-11-05    30.00    30.25   26.8800     28.25    1284100       NVDA
28901  1999-11-04    27.75    29.94   27.7500     29.19    2625700       NVDA
28902  1999-11-03    26.00    28.13   25.8100     27.44    4191000       NVDA
28903  1999-11-02    23.94    25.13   23.7500     25.00    1744800       NVDA
28904  1999-11-01    21.75    24.38   21.7500     23.50    1630300       NVDA

[28905 rows x 7 columns]

<h3> Data cleaning

In [8]:
# Convert 'date' column to datetime
dailypricedata['date'] = pd.to_datetime(dailypricedata['date'])

In [9]:
# Rename columns and convert data types if necessary
dailypricedata.rename(columns={
    '1. open': 'Open',
    '2. high': 'High',
    '3. low': 'Low',
    '4. close': 'Close',
    '5. volume': 'Volume',
    'date': 'Date'
}, inplace=True)

In [10]:
# Convert numerical columns to numeric types
numeric_cols = ['Open', 'High', 'Low', 'Close','Volume']
dailypricedata[numeric_cols] = dailypricedata[numeric_cols].apply(pd.to_numeric)

#use the code bellow if you get an error in the preceding cell
#dailypricedata = dailypricedata.drop(columns=['level_0', 'index'])

In [11]:
# Check if Columns has null values
for column in dailypricedata.columns:

    has_null_values = dailypricedata[column].isnull().any()

    if has_null_values:
        print("Column1 has null values.")
    else:
        print("Column1 does not have null values.")
dailypricedata.shape

Column1 does not have null values.
Column1 does not have null values.
Column1 does not have null values.
Column1 does not have null values.
Column1 does not have null values.
Column1 does not have null values.
Column1 does not have null values.

(28905, 7)

<h3> Verify if all went right

In [12]:
dailypricedata.head()

        Date    Open    High       Low   Close    Volume TickerName
0 2023-10-06  124.16  128.45  124.1300  127.96  46836698       AMZN
1 2023-10-05  126.71  126.73  124.3300  125.96  39660643       AMZN
2 2023-10-04  126.06  127.36  125.6800  127.00  44203870       AMZN
3 2023-10-03  128.06  128.52  124.2544  124.72  51564991       AMZN
4 2023-10-02  127.28  130.47  126.5400  129.46  48029744       AMZN